SociabiliService/outils/mutation_mediprima/wsdl/eCarmedConsultCare.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--=============================================-->
<!--=   Service : ECarmed                      -->
<!--=   Filename : eCarmedConsultCare.wsdl                      -->
<!--=   Author : Alain Tilmant                      -->
<!--=   Owner : BCSS                      -->
<!--=   Date : 2012-03-06                      -->
<!--=  Status : Planned                       -->
<!--=   Description :Consultation des cartes medicales par les prestataires de soin                      -->
<!--=  Current Version : 1.0                      -->
<!--=   Revision History :                      -->
<!--  *                      -->
<!--=============================================-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="eCarmedService" targetNamespace="http://kszbcss.fgov.be/intf/ECarmedService/v1" xmlns:common="http://kszbcss.fgov.be/types/common/v3"  xmlns:puo="http://kszbcss.fgov.be/types/ECarmed/v1"  xmlns:tns="http://kszbcss.fgov.be/intf/ECarmedService/v1"  	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<!--========= wsdl:types ===========-->
	<wsdl:types>
		<!--xmlns:common="http://kszbcss.fgov.be/types/common/v3"  xmlns:puo="http://kszbcss.fgov.be/types/ECarmed/v1"  xmlns:tns="http://kszbcss.fgov.be/intf/ECarmedService/v1"  	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"-->
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://kszbcss.fgov.be/intf/ECarmedService/v1" xmlns:common="http://kszbcss.fgov.be/types/common/v3"  xmlns:puo="http://kszbcss.fgov.be/types/ECarmed/v1"  xmlns:tns="http://kszbcss.fgov.be/intf/ECarmedService/v1"  	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
			<xsd:import schemaLocation="eCarmedTypesV3.xsd" namespace="http://kszbcss.fgov.be/types/ECarmed/v1"/>
			<xsd:import schemaLocation="CommonV3.xsd" namespace="http://kszbcss.fgov.be/types/common/v3"/>
			<!--========= xsd element ===========-->
			<xsd:element name="consultCarmedInterventionRequest" type="puo:ConsultCarmedInterventionRequestType"/>
			<xsd:element name="consultCarmedInterventionResponse" type="puo:ConsultCarmedInterventionResponseType"/>
			<xsd:element name="consultCarmedInterventionFault" type="common:CBSSFaultType"/>
		</xsd:schema>
	</wsdl:types>
	<!--========= wsdl:message ===========-->
	<wsdl:message name="consultCarmedInterventionRequestMsg">
		<wsdl:part name="consultCarmedInterventionRequestParameters" element="tns:consultCarmedInterventionRequest"/>
	</wsdl:message>
	<wsdl:message name="consultCarmedInterventionResponseMsg">
		<wsdl:part name="consultCarmedInterventionResponseParameters" element="tns:consultCarmedInterventionResponse"/>
	</wsdl:message>
	<wsdl:message name="consultCarmedInterventionFaultMsg">
		<wsdl:part name="consultCarmedInterventionFaultParameters" element="tns:consultCarmedInterventionFault"/>
	</wsdl:message>
	<!--========= wsdl:portType ===========-->
	<wsdl:portType name="ECarmedPortType">
		<wsdl:operation name="consultCarmedIntervention">
			<wsdl:input name="consultCarmedInterventionRequest" message="tns:consultCarmedInterventionRequestMsg"/>
			<wsdl:output name="consultCarmedInterventionResponse" message="tns:consultCarmedInterventionResponseMsg"/>
			<wsdl:fault name="consultCarmedInterventionFault" message="tns:consultCarmedInterventionFaultMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<!--========= wsdl:binding ===========-->
	<wsdl:binding name="ECarmedHTTPBinding" type="tns:ECarmedPortType">
		<soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultCarmedIntervention">
			<soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://kszbcss.fgov.be/ECarmedService/consultCarmedIntervention"/>
			<wsdl:input>
				<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="consultCarmedInterventionFault">
				<soap:fault xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="consultCarmedInterventionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<!--========= wsdl:service ===========-->
	<wsdl:service name="ECarmedService">
		<wsdl:port name="ECarmedConsultCarmedIntervention" binding="tns:ECarmedHTTPBinding">
			<soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://b2b-test.ksz-bcss.fgov.be:4520/ECarmedService/consultCarmedIntervention"/>
			<!--Environnement de developpement : https://b2b-test.ksz-bcss.fgov.be:4520/ECarmed/consultCarmedIntervention-->
			<!--Environnement d'acceptation : https://b2b-acpt.ksz-bcss.fgov.be:4520/ECarmed/consultCarmedIntervention-->
			<!--Environnement de production : https://b2b.ksz-bcss.fgov.be:4520/ECarmed/consultCarmedIntervention-->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>