SociabiliService/outils/CONSOLE_BCSS/include/soap/childbenefits/acpt/be/fgov/kszbcss/types/ChildBenefits/common/ChildBenefitsCommonV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by USER (KSZ-BCSS) -->
<!-- ========================================================================
       	 * Owner :               KSZ / CBSS
         * Creation date :       2018-04-27
         * Description :         Common type definitions for the ChildBenefits web service.
         * Revision History : 	 2018-04-27: Initial version
======================================================================== -->
<xsd:schema xmlns="http://kszbcss.fgov.be/types/ChildBenefits/common/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://kszbcss.fgov.be/types/common/v3" targetNamespace="http://kszbcss.fgov.be/types/ChildBenefits/common/v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2018-04-27">
	<xsd:import namespace="http://kszbcss.fgov.be/types/common/v3" schemaLocation="../../../types/common/CommonV3.xsd"/>
	<xsd:complexType name="BaseSupplierRequestType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type defining the base structure for all service requests</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="informationCustomer" type="common:InformationCustomerType"/>
			<xsd:element name="informationSupplier" type="common:InformationSupplierType" minOccurs="0"/>
			<xsd:element name="legalContext" type="common:LegalContextType">
				<xsd:annotation>
					<xsd:documentation>legal context under which the request was made</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FilesType">
		<xsd:sequence>
			<xsd:element name="file" type="FileType" maxOccurs="100">
				<xsd:annotation>
					<xsd:documentation>During the requested period an ssin can be known in different files. The periods however are supposed to be mutually exclusive.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileType">
		<xsd:sequence>
			<xsd:element name="childBenefitsFund" type="ChildBenefitsFundType"/>
			<xsd:element name="fileNumber" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not possible for FLANDERS files</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="entitledPersonSsin" type="common:SsinType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Only present for FEDERAL files</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="beneficiaries" type="BeneficiariesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Only natural persons are returned. Institutions as beneficiaries are not present in this response. For FLANDERS files the concept of beneficiary does not indicate the actual receiving of the money. For INTERREGIONAL files the concept of beneficiary does do indicate the actual receiving of the money.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="children" type="ChildrenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChildBenefitsFundType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="enterpriseNumber" type="common:EnterpriseNumberType"/>
				<xsd:element name="code" type="ChildBenefitsFundCodeType"/>
			</xsd:choice>
			<xsd:element name="description" type="ChildBenefitsFundDescriptionType" minOccurs="0" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ChildBenefitsFundCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="BeneficiariesType">
		<xsd:sequence>
			<xsd:element name="beneficiary" type="BeneficiaryType" maxOccurs="100">
				<xsd:annotation>
					<xsd:documentation>For all types of files a great number of beneficaries is possible. Mother, Father, GrandMother, GrandFather, Foster parent, ... For FLANDERS files the bonuses and paymentperiods for these beneficaries will be identical to the ones present on the unique child. For the other files these bonuses or paymentperiods are not identical. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BeneficiaryType">
		<xsd:sequence>
			<xsd:element name="ssin" type="common:SsinType"/>
			<xsd:element name="bonuses" type="BonusesType" minOccurs="0"/>
			<xsd:element name="paymentPeriods" type="PaymentPeriodsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BonusesType">
		<xsd:sequence>
			<xsd:element name="bonus" type="BonusType" maxOccurs="100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BonusType">
		<xsd:sequence>
			<xsd:element name="paymentDate" type="xsd:date"/>
			<xsd:element name="category" type="BonusCategoryType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BonusCategoryType">
		<xsd:sequence>
			<xsd:element name="code" type="BonusCategoryCodeType">
				<xsd:annotation>
					<xsd:documentation>BIRTH
ADOPTION
PRE_PAYMENT_BIRTH</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="DescriptionType" minOccurs="0" maxOccurs="3">
				<xsd:annotation>
					<xsd:documentation>

</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChildBenefitsFundDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Description of the ChildBenefitsFund</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="common:DescriptionType">
				<xsd:attribute name="language" type="common:LanguageType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DescriptionType">
		<xsd:annotation>
			<xsd:documentation>Type specifying how a value that can exist in several languages will be modelled</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="common:DescriptionType">
				<xsd:attribute name="language" type="common:LanguageType" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="BonusCategoryCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:pattern value="[A-Z_]{1,50}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PaymentPeriodsType">
		<xsd:sequence>
			<xsd:element name="paymentPeriod" type="PaymentPeriodType" maxOccurs="100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentPeriodType">
		<xsd:sequence>
			<xsd:element name="beginMonth" type="xsd:gYearMonth"/>
			<xsd:element name="endMonth" type="xsd:gYearMonth" minOccurs="0"/>
			<xsd:element name="category" type="PaymentCategoryType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentCategoryType">
		<xsd:sequence>
			<xsd:element name="code" type="PaymentCategoryCodeType">
				<xsd:annotation>
					<xsd:documentation>
BASIC
SPECIAL_CARE
ORPHAN_CARE
FOSTER_CARE
SOCIAL
UNIVERSAL_PARTICIPATION
OTHER_PARTICIPATION
TODDLER
CHILD_ALLOWANCE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="DescriptionType" minOccurs="0" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PaymentCategoryCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:pattern value="[A-Z_]{1,50}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ChildrenType">
		<xsd:sequence>
			<xsd:element name="child" type="ChildType" maxOccurs="100">
				<xsd:annotation>
					<xsd:documentation>For FLANDERS files this will be exactly ONE child</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChildType">
		<xsd:sequence>
			<xsd:element name="ssin" type="common:SsinType"/>
			<xsd:element name="bonuses" type="BonusesForChildType" minOccurs="0"/>
			<xsd:element name="paymentPeriods" type="PaymentPeriodsForChildType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BonusesForChildType">
		<xsd:sequence>
			<xsd:element name="bonus" type="BonusForChildType" maxOccurs="100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BonusForChildType">
		<xsd:complexContent>
			<xsd:extension base="BonusType">
				<xsd:sequence>
					<xsd:element name="beneficiaries" type="BeneficiaryIdentificationsType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Only present for FLANDERS files. This link does not indicate that the beneficiary has actually received the money. Per bonus or paymentPeriod only maximum 2 beneficiaries are possible. However over the enterity of the FLANDERS file more than 2 beneficiaries are possible.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BeneficiaryIdentificationsType">
		<xsd:sequence>
			<xsd:element name="beneficiary" type="common:SsinType" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentPeriodsForChildType">
		<xsd:sequence>
			<xsd:element name="paymentPeriod" type="PaymentPeriodForChildType" maxOccurs="100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentPeriodForChildType">
		<xsd:complexContent>
			<xsd:extension base="PaymentPeriodType">
				<xsd:sequence>
					<xsd:element name="beneficiaries" type="BeneficiaryIdentificationsType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Only present for FLANDERS files. This link does not indicate that the beneficiary has actually received the money. Per bonus or paymentPeriod only maximum 2 beneficiaries are possible. However over the enterity of the FLANDERS file more than 2 beneficiaries are possible.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- global status -->
	<xsd:complexType name="GlobalStatusType">
		<xsd:sequence>
			<xsd:element name="value">
				<xsd:annotation>
					<xsd:documentation>global status of the result</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="DATA_FOUND"/>
						<xsd:enumeration value="NO_DATA_FOUND"/>
						<xsd:enumeration value="NO_RESULT"/>
						<xsd:enumeration value="INCOMPLETE_DATA"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="code">
				<xsd:annotation>
					<xsd:documentation>the code of the status</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>the description of the status</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="information" type="common:InformationType" minOccurs="0" maxOccurs="15"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- source status -->
	<xsd:complexType name="SourceStatusType">
		<xsd:sequence>
			<xsd:element name="value">
				<xsd:annotation>
					<xsd:documentation>global status of the result</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="DATA_FOUND"/>
						<xsd:enumeration value="NO_DATA_FOUND"/>
						<xsd:enumeration value="TECHNICAL_ERROR"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="code">
				<xsd:annotation>
					<xsd:documentation>the code of the status</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>the description of the status</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="information" type="common:InformationType" minOccurs="0" maxOccurs="15"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OpenYearMonthPeriodType">
		<xsd:annotation>
			<xsd:documentation>YearMonth period containing a month begin date and an optional YearMonth end date.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="beginMonth" type="xsd:gYearMonth"/>
			<xsd:element name="endMonth" type="xsd:gYearMonth" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SupplierFaultType">
		<xsd:sequence>
			<xsd:element name="informationCustomer" type="common:InformationCustomerType" minOccurs="0"/>
			<xsd:element name="informationSupplier" type="common:InformationCBSSType"/>
			<xsd:element name="detail" type="common:MessageType" maxOccurs="30"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
