SociabiliService/outils/CONSOLE_BCSS/include/soap/family_allowances_service/prod/FamilyAllowancesConsultation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================================================================
         * File Name :             FamilyAllowancesConsultation.wsdl
         * Author :                  Catherine Cocu
         * Owner :                   KSZ / CBSS
         * Creation date :           21-04-11
         * Last revision date :     22-04-11
         * Status :                  Planned
         * Description :           Service for consulting family allowances.
			This service is hosted by the CBSS.
         * Current version :         0.1
         * Revision History :
				0.1 						initial version ;
============================================================================================================= -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kszbcss.fgov.be/intf/FamilyAllowancesConsult" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FamilyAllowancesConsultationService" targetNamespace="http://kszbcss.fgov.be/intf/FamilyAllowancesConsult" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:fac="http://kszbcss.fgov.be/types/FamilyAllowancesConsult" targetNamespace="http://kszbcss.fgov.be/intf/FamilyAllowancesConsult">
			<xsd:import namespace="http://kszbcss.fgov.be/types/FamilyAllowancesConsult" schemaLocation="FamilyAllowancesConsultationV1.xsd"/>
			<xsd:element name="consultFamilyAllowancesRequest" type="fac:FamilyAllowancesConsultRequestType"/>
			<xsd:element name="consultFamilyAllowancesResponse" type="fac:FamilyAllowancesConsultResponseType"/>
			<xsd:element name="familyAllowancesConsultFault" type="fac:FamilyAllowancesConsultFaultType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultFamilyAllowancesRequestMsg">
		<wsdl:part element="tns:consultFamilyAllowancesRequest" name="consultFamilyAllowancesRequestParameters"/>
	</wsdl:message>
	<wsdl:message name="consultFamilyAllowancesResponseMsg">
		<wsdl:part element="tns:consultFamilyAllowancesResponse" name="consultFamilyAllowancesResponseParameters"/>
	</wsdl:message>
	<wsdl:message name="familyAllowancesConsultFaultMsg">
		<wsdl:part element="tns:familyAllowancesConsultFault" name="familyAllowancesConsultFaultParameters"/>
	</wsdl:message>
	<wsdl:portType name="FamilyAllowancesConsultPortType">
		<wsdl:operation name="familyAllowancesConsult">
			<wsdl:input message="tns:consultFamilyAllowancesRequestMsg" name="consultFamilyAllowancesRequest"/>
			<wsdl:output message="tns:consultFamilyAllowancesResponseMsg" name="consultFamilyAllowancesResponse"/>
			<wsdl:fault message="tns:familyAllowancesConsultFaultMsg" name="familyAllowancesConsultFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FamilyAllowancesConsultationServiceHTTPBinding" type="tns:FamilyAllowancesConsultPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="familyAllowancesConsult">
			<soap:operation style="document" soapAction="http://kszbcss.fgov.be/FamilyAllowancesConsultationService/familyAllowancesConsult"/>
			<wsdl:input name="consultFamilyAllowancesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="consultFamilyAllowancesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="familyAllowancesConsultFault">
				<soap:fault name="familyAllowancesConsultFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FamilyAllowancesConsultationService">
		<wsdl:port binding="tns:FamilyAllowancesConsultationServiceHTTPBinding" name="FamilyAllowancesConsultationService">
			<soap:address location="https://bcssksz-services-prod.smals.be:443/SOA4520/FamilyAllowancesService/consultFamilyAllowances"/>
			<!-- https://bcssksz-services-prod.smals.be:443/SOA4520/ChildBenefitsService/v1/consult  -->
			<!-- https://b2b-test.ksz-bcss.fgov.be:4520/FamilyAllowancesService/consultFamilyAllowances -->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
