SociabiliService/bcss/includes/soap/cadnet/test/ConsultPatrimonyCPASV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by bcss (KSZ-BCSS) -->
<!-- ============================================================================================================
* File Name :               ConsultPatrimonyCPASV1.xsd
* $Author: julien.mispelaere $
* Owner                     CBSS
* Creation date :           12/04/2011
* Laste revision date :     12/04/2011
* Status:                   creation
* Description :             webservices BCSS pour web app "ConsultPatrimony"
* Current Version  :        1.0
* Revision History :	    19/05/2011 update with PID
=============================================================================================================-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cp="http://kszbcss.fgov.be/types/ConsultPatrimonyCPAS/v1" targetNamespace="http://kszbcss.fgov.be/types/ConsultPatrimonyCPAS/v1" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:complexType name="FindPropertiesRequestType">
		<xsd:sequence>
			<xsd:element name="informationCustomer" type="cp:InformationCustomerType"/>
			<xsd:element name="informationCBSS" type="cp:InformationCBSSType" minOccurs="0"/>
			<xsd:element name="searchCriterion">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="naturalPerson" type="cp:NaturalPersonType"/>
						<xsd:element name="naturePerson" type="cp:QualityPersonType"/>
						<xsd:element name="language" type="cp:LanguageType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FindPropertiesResponseType">
		<xsd:sequence>
			<xsd:element name="informationCustomer" type="cp:InformationCustomerType"/>
			<xsd:element name="informationCBSS" type="cp:InformationCBSSType"/>
			<xsd:element name="status" type="cp:StatusType"/>
			<xsd:element name="businessData" type="cp:FindPropertiesBusinessDataResponseType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FindPropertiesFaultType">
		<xsd:sequence>
			<xsd:element name="informationCustomer" type="cp:InformationCustomerType"/>
			<xsd:element name="informationCBSS" type="cp:InformationCBSSType"/>
			<xsd:element name="error" type="cp:MessageType" maxOccurs="30"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:sequence>
			<xsd:element name="ownerIdentity" type="cp:PersonIdentityType"/>
			<xsd:element name="partnerIdentity" type="cp:PersonIdentityType" minOccurs="0"/>
			<xsd:element name="address" type="cp:AddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyType">
		<xsd:sequence>
			<xsd:element name="duty" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dutyTermination" type="xsd:string" minOccurs="0"/>
			<xsd:element name="landRegisterDivisionName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="totalNumberOfOwners" type="xsd:int" minOccurs="0"/>
			<xsd:element name="asset" type="cp:AssetType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssetType">
		<xsd:sequence>
			<xsd:element name="assetDetail" type="cp:AssetDetailType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="situation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateModifSituationAdm" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="codeModifSituationAdm" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NaturalPersonType">
		<xsd:sequence>
			<xsd:element name="ssin" type="cp:SsinType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformationCBSSType">
		<xsd:annotation>
			<xsd:documentation>Information coming from CBSS</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ticketCBSS">
				<xsd:annotation>
					<xsd:documentation>UUID generated by CBSS</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="timestampReceive" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Time request was received by CBSS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timestampReply" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Time reply was sent by CBSS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CbeNumberType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SsinType">
		<xsd:annotation>
			<xsd:documentation>social security identification number</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="11"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="\p{N}{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="FR"/>
			<xsd:enumeration value="DE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QualityPersonType">
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<!-- Demandeur de l'aide sociale -->
			<!-- Cohabitant avec le demandeur de l'aide sociale -->
			<!-- Débiteur alimentaire du demandeur de l'aide sociale -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InformationCustomerType">
		<xsd:sequence>
			<xsd:element name="ticket" type="xsd:string"/>
			<xsd:element name="timestampSent" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="customerIdentification" type="cp:CustomerIdentificationType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerIdentificationType">
		<xsd:choice>
			<xsd:element name="cbeNumber" type="cp:CbeNumberType"/>
			<xsd:sequence>
				<xsd:element name="sector" type="cp:SectorType"/>
				<xsd:element name="institution" type="cp:InstitutionType"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="SectorType">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InstitutionType">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AssetDetailType">
		<xsd:sequence>
			<xsd:element name="assetNature" type="xsd:string" minOccurs="0"/>
			<xsd:element name="landRegisterIncomeAmount" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="landRegisterIncomeCode" type="xsd:int" minOccurs="0"/>
			<xsd:element name="surface" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageType">
		<xsd:sequence>
			<xsd:element name="severity" type="cp:SeverityType"/>
			<xsd:element name="reasonCode" type="xsd:string"/>
			<xsd:element name="diagnostic" type="xsd:string"/>
			<xsd:element name="authorCode" type="xsd:string"/>
			<xsd:element name="information" type="cp:InformationType" minOccurs="0" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformationType">
		<xsd:sequence>
			<xsd:element name="fieldName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fieldValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatusType">
		<xsd:sequence>
			<xsd:element name="code" type="cp:StatusCodeType">
				<xsd:annotation>
					<xsd:documentation>the code of the status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>the description of the status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="informationMessage" type="cp:InformationMessageType" minOccurs="0" maxOccurs="25">
				<xsd:annotation>
					<xsd:documentation>extra information on the status of the response</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="InformationCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SSIN_REPLACED"/>
			<xsd:enumeration value="SSIN_CANCELLED"/>
			<xsd:enumeration value="SSIN_NOT_FOUND"/>
			<xsd:enumeration value="SSIN_STRUCTURE_INVALID"/>
			<xsd:enumeration value="DIAGNOSTIC_INFO"/>
			<!-- Extra information on the error in case it needs to be handled manually. -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InformationMessageType">
		<xsd:sequence>
			<xsd:element name="code" type="cp:InformationCodeType">
				<xsd:annotation>
					<xsd:documentation>code of the information message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the information message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SeverityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INFORMATION"/>
			<xsd:enumeration value="WARNING"/>
			<xsd:enumeration value="ERROR"/>
			<xsd:enumeration value="FATAL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FindPropertiesBusinessDataResponseType">
		<xsd:sequence>
			<xsd:element name="person" type="cp:PersonType"/>
			<xsd:element name="property" type="cp:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="naturePerson" type="cp:QualityPersonType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="StatusCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PERSON_WITH_PROPERTIES_AND_PARTNER"/>
			<xsd:enumeration value="PERSON_WITHOUT_PARTNER_WITH_PROPERTIES"/>
			<xsd:enumeration value="PERSON_WITHOUT_PARTNER_AND_PROPERTIES"/>
			<xsd:enumeration value="PERSON_WITH_PARTNER_WITHOUT_PROPERTIES"/>
			<xsd:enumeration value="PERSON_UNKNOWN_FODFIN"/>
			<xsd:enumeration value="INVALID_RESPONSE_FODFIN"/>
			<xsd:enumeration value="ERROR_FODFIN"/>
			<xsd:enumeration value="VALIDATION_ERROR"/>
			<xsd:enumeration value="INSZ_UNKNOW_IN_LEGAL_CONTEXT_CBSS"/>
			<xsd:enumeration value="INSZ_UNKNOW_IN_LEGAL_CONTEXT_PPSSI"/>
			<xsd:enumeration value="SSIN_PROBLEM"/>
			<xsd:enumeration value="INTERNAL_SERVICE_ERROR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="city" type="xsd:string" minOccurs="0"/>
			<xsd:element name="houseNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="street" type="xsd:string" minOccurs="0"/>
			<xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonIdentityType">
		<xsd:sequence>
			<xsd:element name="ssin" type="cp:SsinType" minOccurs="0"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="firstName1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="firstName2" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="findPropertiesRequest" type="cp:FindPropertiesRequestType"/>
</xsd:schema>
