SociabiliService/outils/CONSOLE_BCSS/include/soap/childbenefits/acpt/be/fgov/kszbcss/intf/ChildBenefitsService/ChildBenefitsV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ========================================================================
       	 * Owner :               KSZ / CBSS
         * Creation date :       2018-04-27
         * Description :         Interface for the ChildBenefits web service.
         * Revision History : 	 2018-04-27: Initial version
======================================================================== -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:common="http://kszbcss.fgov.be/types/common/v3" xmlns:tns="http://kszbcss.fgov.be/intf/ChildBenefitsService/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:an="http://kszbcss.fgov.be/types/ChildBenefits/v1" name="ChildBenefitsService" targetNamespace="http://kszbcss.fgov.be/intf/ChildBenefitsService/v1">
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:an="http://kszbcss.fgov.be/types/ChildBenefits/v1" targetNamespace="http://kszbcss.fgov.be/intf/ChildBenefitsService/v1" version="2018-04-27">
			<xsd:import namespace="http://kszbcss.fgov.be/types/ChildBenefits/v1" schemaLocation="../../types/ChildBenefits/ChildBenefitsV1.xsd"/>
			<xsd:import namespace="http://kszbcss.fgov.be/types/common/v3" schemaLocation="../../types/common/CommonV3.xsd"/>
			<xsd:element name="consultFilesBySsinRequest" type="an:ConsultFilesBySsinRequestType"/>
			<xsd:element name="consultFilesBySsinResponse" type="an:ConsultFilesBySsinResponseType"/>
			<xsd:element name="consultFilesBySsinFault" type="common:CBSSFaultType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultFilesBySsinRequestMsg">
		<wsdl:part element="tns:consultFilesBySsinRequest" name="consultFilesBySsinRequestParameters"/>
	</wsdl:message>
	<wsdl:message name="consultFilesBySsinResponseMsg">
		<wsdl:part element="tns:consultFilesBySsinResponse" name="consultFilesBySsinResponseParameters"/>
	</wsdl:message>
	<wsdl:message name="consultFilesBySsinFaultMsg">
		<wsdl:part element="tns:consultFilesBySsinFault" name="consultFilesBySsinFaultParameters"/>
	</wsdl:message>
	<wsdl:portType name="ChildBenefitsPortType">
		<wsdl:operation name="consultFilesBySsin">
			<wsdl:input message="tns:consultFilesBySsinRequestMsg" name="consultFilesBySsinRequest"/>
			<wsdl:output message="tns:consultFilesBySsinResponseMsg" name="consultFilesBySsinResponse"/>
			<wsdl:fault message="tns:consultFilesBySsinFaultMsg" name="consultFilesBySsinFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ChildBenefitsV1ServiceHTTPBinding" type="tns:ChildBenefitsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultFilesBySsin">
			<soap:operation soapAction="http://kszbcss.fgov.be/child-benefits/consultFilesBySsin"/>
			<wsdl:input name="consultFilesBySsinRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="consultFilesBySsinResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="consultFilesBySsinFault">
				<soap:fault name="consultFilesBySsinFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ChildBenefitsService">
		<wsdl:port binding="tns:ChildBenefitsV1ServiceHTTPBinding" name="ChildBenefitsServiceV1">
			<soap:address location="https://bcssksz-services-acpt.smals.be:443/SOA4520/ChildBenefitsService/v1/consult"/>
			 
			<!--  https://bcssksz-services-acpt.smals.be:443/SOA4520/FamilyAllowancesService/consultFamilyAllowances-->
			<!-- https://b2b.ksz-bcss.fgov.be:4520/ChildBenefitsService/v1/consult -->
			<!-- dvlp  https://b2b-test.ksz-bcss.fgov.be  -->
			<!-- acpt  https://b2b-acpt.ksz-bcss.fgov.be  -->
			<!-- prod  https://b2b.ksz-bcss.fgov.be  -->		
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
