SociabiliService/outils/CONSOLE_BCSS/include/soap/self_employed/v1/prod/SelfEmployedV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--=============================================-->
<!--=   Service : SelfEmployed                      -->
<!--=   Filename : SelfEmployedV1.wsdl                      -->
<!--=   Author : Alain Tilmant                      -->
<!--=   Owner : BCSS                      -->
<!--=   Date : 2015-05-11                      -->
<!--=  Status : Planned                       -->
<!--=   Description :carrieres de l'indépendant                      -->
<!--=  Current Version : 1.0                      -->
<!--=   Revision History :                      -->
<!--  *                      -->
<!--=============================================-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SelfEmployedService" targetNamespace="http://kszbcss.fgov.be/intf/SelfEmployedService/v1" xmlns:common="http://kszbcss.fgov.be/types/common/v3"  xmlns:puo="http://kszbcss.fgov.be/types/SelfEmployed/v1" xmlns:tns="http://kszbcss.fgov.be/intf/SelfEmployedService/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<!--========= wsdl:types ===========-->
	<wsdl:types>
		<!--xmlns:common="http://kszbcss.fgov.be/types/common/v3"  xmlns:puo="http://kszbcss.fgov.be/types/SelfEmployed/v1" xmlns:tns="http://kszbcss.fgov.be/intf/SelfEmployedService/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"-->
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://kszbcss.fgov.be/intf/SelfEmployedService/v1" xmlns:common="http://kszbcss.fgov.be/types/common/v3"  xmlns:puo="http://kszbcss.fgov.be/types/SelfEmployed/v1" xmlns:tns="http://kszbcss.fgov.be/intf/SelfEmployedService/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" version="2015-06-08">
			<xsd:import schemaLocation="SelfEmployedTypesV1.xsd" namespace="http://kszbcss.fgov.be/types/SelfEmployed/v1"/>
			<xsd:import schemaLocation="CommonV3.xsd" namespace="http://kszbcss.fgov.be/types/common/v3"/>
			<!--========= xsd element ===========-->
			<xsd:element name="consultCareerRequest" type="puo:ConsultCareerRequestType"/>
			<xsd:element name="consultCareerResponse" type="puo:ConsultCareerResponseType"/>
			<xsd:element name="consultCareerFault" type="common:CBSSFaultType"/>
			<xsd:element name="consultContributionsRequest" type="puo:ConsultContributionsRequestType"/>
			<xsd:element name="consultContributionsResponse" type="puo:ConsultContributionsResponseType"/>
			<xsd:element name="consultContributionsFault" type="common:CBSSFaultType"/>
			<xsd:element name="consultCareerAndContributionsRequest" type="puo:ConsultCareerAndContributionsRequestType"/>
			<xsd:element name="consultCareerAndContributionsResponse" type="puo:ConsultCareerAndContributionsResponseType"/>
			<xsd:element name="consultCareerAndContributionsFault" type="common:CBSSFaultType"/>
		</xsd:schema>
	</wsdl:types>
	<!--========= wsdl:message ===========-->
	<wsdl:message name="consultCareerRequestMsg">
		<wsdl:part name="consultCareerRequestParameters" element="tns:consultCareerRequest"/>
	</wsdl:message>
	<wsdl:message name="consultCareerResponseMsg">
		<wsdl:part name="consultCareerResponseParameters" element="tns:consultCareerResponse"/>
	</wsdl:message>
	<wsdl:message name="consultCareerFaultMsg">
		<wsdl:part name="consultCareerFaultParameters" element="tns:consultCareerFault"/>
	</wsdl:message>
	<wsdl:message name="consultContributionsRequestMsg">
		<wsdl:part name="consultContributionsRequestParameters" element="tns:consultContributionsRequest"/>
	</wsdl:message>
	<wsdl:message name="consultContributionsResponseMsg">
		<wsdl:part name="consultContributionsResponseParameters" element="tns:consultContributionsResponse"/>
	</wsdl:message>
	<wsdl:message name="consultContributionsFaultMsg">
		<wsdl:part name="consultContributionsFaultParameters" element="tns:consultContributionsFault"/>
	</wsdl:message>
	<wsdl:message name="consultCareerAndContributionsRequestMsg">
		<wsdl:part name="consultCareerAndContributionsRequestParameters" element="tns:consultCareerAndContributionsRequest"/>
	</wsdl:message>
	<wsdl:message name="consultCareerAndContributionsResponseMsg">
		<wsdl:part name="consultCareerAndContributionsResponseParameters" element="tns:consultCareerAndContributionsResponse"/>
	</wsdl:message>
	<wsdl:message name="consultCareerAndContributionsFaultMsg">
		<wsdl:part name="consultCareerAndContributionsFaultParameters" element="tns:consultCareerAndContributionsFault"/>
	</wsdl:message>
	<!--========= wsdl:portType ===========-->
	<wsdl:portType name="SelfEmployedPortType">
		<wsdl:operation name="consultCareer">
			<wsdl:input name="consultCareerRequest" message="tns:consultCareerRequestMsg"/>
			<wsdl:output name="consultCareerResponse" message="tns:consultCareerResponseMsg"/>
			<wsdl:fault name="consultCareerFault" message="tns:consultCareerFaultMsg"/>
		</wsdl:operation>
		<wsdl:operation name="consultContributions">
			<wsdl:input name="consultContributionsRequest" message="tns:consultContributionsRequestMsg"/>
			<wsdl:output name="consultContributionsResponse" message="tns:consultContributionsResponseMsg"/>
			<wsdl:fault name="consultContributionsFault" message="tns:consultContributionsFaultMsg"/>
		</wsdl:operation>
		<wsdl:operation name="consultCareerAndContributions">
			<wsdl:input name="consultCareerAndContributionsRequest" message="tns:consultCareerAndContributionsRequestMsg"/>
			<wsdl:output name="consultCareerAndContributionsResponse" message="tns:consultCareerAndContributionsResponseMsg"/>
			<wsdl:fault name="consultCareerAndContributionsFault" message="tns:consultCareerAndContributionsFaultMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<!--========= wsdl:binding ===========-->
	<wsdl:binding name="SelfEmployedHTTPBinding" type="tns:SelfEmployedPortType">
		<soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultCareer">
			<soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://kszbcss.fgov.be/SelfEmployedService/consultCareer"/>
			<wsdl:input>
				<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="consultCareerFault">
				<soap:fault xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="consultCareerFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultContributions">
			<soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://kszbcss.fgov.be/SelfEmployedService/consultContributions"/>
			<wsdl:input>
				<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="consultContributionsFault">
				<soap:fault xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="consultContributionsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultCareerAndContributions">
			<soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://kszbcss.fgov.be/SelfEmployedService/consultCareerAndContributions"/>
			<wsdl:input>
				<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="consultCareerAndContributionsFault">
				<soap:fault xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="consultCareerAndContributionsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<!--========= wsdl:service ===========-->
	<wsdl:service name="SelfEmployedService">
		<wsdl:port name="SelfEmployedPull" binding="tns:SelfEmployedHTTPBinding">
			<soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://bcssksz-services-prod.smals.be/SOA4520/SelfEmployedService/pull" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
